:root{


    --main-color : #3B1E54;
    --secondary-main-color : #4D2E6A;
    --third-main-color : #D4BEE4 ;
    --bg-color : #EEEEEE;

    /* --main-color : #243642;
    --secondary-main-color : #387478;
    --third-main-color : #629584 ;
    --bg-color : #E2F1E7; */
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;   
}